body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(109,159,250,1) 98%);
}
.btn-primary {
    background-color: #CBCE91FF;
    color: rgb(2, 0, 24);
    border: 100px;
    
}
.btn-primary:hover{
    background-color: rgb(149, 155, 48);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

